<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>duplicacy.startup</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>DUPLICACY_REPOSITORY_PATH</key>
      <string>/Users/myname</string>
      <key>DUPLICACY_VSS</key>
      <string>true</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/bash</string>
      <string>/usr/local/bin/vbackup.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>UserName</key>
    <string>myname</string>
    <key>GroupName</key>
    <string>staff</string>
    <key>WorkingDirectory</key>
    <string>/Users/myname</string>
    <key>StandardErrorPath</key>
    <string>/dev/null</string>
    <key>StandardOutPath</key>
    <string>/dev/null</string>
    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Minute</key>
        <integer>10</integer>
      </dict>
    </array>
  </dict>
</plist>
